<% wrap_layout :default do %>
  <div class="row-fluid">
    <div class="span9">
      <h1><%= current_page.data.title %></h1>
      <%= yield %>
    </div>
    <div class="span3">
      <% current_page.tags.each do |tag| %>
        <%= tag %>
      <% end %>
    </div>
  </div>
<% end %>
